* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-image: linear-gradient(to bottom, #642283 0%, #47158e 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

header {
    position: fixed;
    top: 0;
    width: 50%;
    height: 50px;
    background-color: #642283;
    color: red;
    font-size: 32px;
    text-align: center;
    transition: width 2s;
}

header:hover {
    width: 100%;
}

#clients {
    width: 500px;
    height: 100px;
    margin: 100px auto;
    list-style: none;
    color: chartreuse;
    font-size: 24px;
}