*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgba(255, 0, 0, 0.692);
}

header{
    background-image: url(/../Apka/img/logosolo.svg);
    background-repeat: no-repeat;
    background: center;
}