* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-image: linear-gradient(to bottom, #642283 0%, #47158e 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    color: red;
    font-size: 32px;
    text-align: center;
}

header:hover{
    background-color: #642283;
}